# 4.1 리스트

- 리스트는 순서를 가진 데이터들의 집합
- 리스트는 값의 변경이 가능하며, 다른 자료형을 입력 할 수 있습니다 (리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능합니다)
- 중복 허락
- 인덱싱과 슬라이싱을 사용할 수 있습니다 (문자열은 immutable한 객체, 슬라이싱으로 변경할 수 없습니다)

In [6]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
for i in range(len(data)):
    for j in range(len(data[1])):
        data[i][j] *= 2

data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [8]:
#data[start:stop:step]
data = [10, 20, 30, 40, 50, 60, 70]
data[1:]
data[1:-1]
data[::2]
data[:] # 매우 중요!

[10, 20, 30, 40, 50, 60, 70]

In [9]:
data = [10, 20, 30, 40, 50, 60, 70]
data2 = data
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [100, 20, 30, 40, 50, 60, 70])

In [10]:
data = [10, 20, 30, 40, 50, 60, 70]
data2 = data[:] # data[::2]
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [10, 20, 30, 40, 50, 60, 70])

동일한 List를 여러번 생성할 경우에는 서로 다른 메모리주소를 갖지만,

리스트의 곱연산을 통해 depth를 늘리면, 메모리주소를 공유한다

얕은 depth에서는 메모리주소가 공유되지 않는다

In [12]:
x = [[1, 2, 3] * 2] * 2
x[0][0] = 7
print(x)

[[7, 2, 3, 1, 2, 3], [7, 2, 3, 1, 2, 3]]

In [13]:
x = [1, 2, 3] * 2
x[0] = 7
print(x)

[7, 2, 3, 1, 2, 3]

## 리스트 내장 메서드

리스트 안에 있는 값들을 3씩 곱하고 싶다면([1, 2, 3] → [3, 6, 9]) for문을 사용하거나 numpy를 사용해야 합니다</br>
리스트 x n 은 리스트를 n번 연결한다는 뜻입니다

### 내장함수

- max : 리스트 내 element의 최대값을 출력합니다
- min : 리스트 내 element의 최소값을 출력합니다
- len : 리스트의 총 길이를 반환합니다

In [42]:
l = [1, 3, 5, 4, 3, 9]

print(max(l))
print(min(l))
print(len(l))

9
1
6

### 추가, 삭제

- 추가
    - append : 리스트의 끝에 한 개의 element를 추가합니다 (하나의 리스트를 추가하는 것도 가능합니다)
    - insert : 지정한 index에 element를 추가합니다
    - extend : 리스트의 끝에 다수의 element를 추가합니다 (다수의 element를 추가할 떄는 묶어야 합니다)
    - copy : 지정한 리스트를 복제합니다 (기존 리스트와 복제된 리스트는 다른 주소값을 갖습니다)
        - copy 보다 slicing을 권고합니다 => slicing은 C로 구현되어 있어서 메서드보다 통상 8배정도 빠릅니다
        - 단, 공간복작도가 올라갈 수 있습니다
- 제거
    - remove : 지정한 값과 일치하는 element 중, 리스트에서 처음 만나는 element 1개를 제거합니다
        - 리스트 내 지정한 값과 일치하는 모든 element를 제거하려면 for문과 count 메서드를 활용하시면 됩니다
        - count : 특정 element가 리스트 내 몇 개 있는지 출력합니다
    - pop : 마지막 element를 제거합니다 (pop(index) => index 위치의 element를 제거할 수 있습니다)
    - del : 지정한 index의 element를 제거합니다
    - clear : 리스트의 전체 element를 제거합니다

In [56]:
l = [10, 20, 30, 40]

l.append(50)
print(l)
l.insert(3, 50)
print(l)

[10, 20, 30, 40, 50]
[10, 20, 30, 50, 40, 50]

In [66]:
l.extend(l)
print(l)
l.extend([10, 20, 30])
print(l)

l.append(l)
print(l)

[10, 1, 1, 11, 2, 23, 12, 10, 1, 1, 11, 2, 23, 12]
[10, 1, 1, 11, 2, 23, 12, 10, 1, 1, 11, 2, 23, 12, 10, 20, 30]
[10, 1, 1, 11, 2, 23, 12, 10, 1, 1, 11, 2, 23, 12, 10, 20, 30, [...]]

In [58]:
l2 = l.copy()
l3 = l[:]

print(l2)
print(l3)
print(id(l), id(l2), id(l3))

[10, 20, 30, 50, 40, 50, 10, 20, 30, 50, 40, 50, 10, 20, 30]
[10, 20, 30, 50, 40, 50, 10, 20, 30, 50, 40, 50, 10, 20, 30]
4386703872 4387107328 4387099520

In [59]:
print(l)

l.remove(10)
print(l)

l.pop()
print(l)

del l[3]
print(l)

[10, 20, 30, 50, 40, 50, 10, 20, 30, 50, 40, 50, 10, 20, 30]
[20, 30, 50, 40, 50, 10, 20, 30, 50, 40, 50, 10, 20, 30]
[20, 30, 50, 40, 50, 10, 20, 30, 50, 40, 50, 10, 20]
[20, 30, 50, 50, 10, 20, 30, 50, 40, 50, 10, 20]

In [61]:
for cnt in range(l.count(50)):
    l.remove(50)
    
print(l)

[20, 30, 10, 20, 30, 40, 10, 20]

### 탐색

- index : 특정 항목의 index 출력합니다

In [63]:
l = [10, 1, 1, 11, 2, 23, 12]
l.index(11)
l[l.index(11)]
l[:l.index(11)]

[10, 1, 1]

**어떤 값을 찾거나, 조건에 맞는 코드를 추출할 때 실무에서 많이 사용하는 코드입니다**

In [20]:
l = [10, 20, 30, 40]

def 함수(x):
    return x != 10

print(list(filter(함수, l)))

print(list(filter(lambda x: x != 30, l))) # 이 코드가 가독성이 높아서 실무에서 더 많이 사용합니다

[20, 30, 40]
[10, 20, 40]

In [23]:
filter(lambda x: x != 30, l) # 메모리의 효율을 위해 형태를 지정하지 않고, 메모리 주소를 넘깁니다

In [24]:
range(10)

range(0, 10)

### 정렬

- list method : 메서드를 실행하고 실행결과를 변수에 적용합니다
    - sort : 리스트를 정렬합니다
    - reverse : 리스트를 역정렬합니다
- buit-in function : 실행결과를 적용하지 않고 출력만 수행합니다 / key 옵션으로 정렬 기준을 지정할 수 있습니다 (matrix를 열 단위 정렬할 떄 사용합니다)
    - sorted
    - reversed

In [28]:
l = [3, 1, 6, 5, 2, 8, 7, 9]
l.sort()
l.reverse() # 역정렬 l.sort(reverse = True)과 동작이 같음
print(l)

[9, 8, 7, 6, 5, 3, 2, 1]

In [33]:
l = [3, 1, 6, 5, 2, 8, 7, 9]

print(list(reversed(l)))
print(sorted(l))
print(sorted(l, reverse = True))

[9, 7, 8, 2, 5, 6, 1, 3]
[1, 2, 3, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 3, 2, 1]

In [36]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv'], 
     [1, 2, 'likelion'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def 함수(x):
    return len(x[2])

print(list(sorted(l, key=함수)))
print(list(sorted(l, key=lambda x: len(x[2]))))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def 함수2(x):
    return x[0]

print(list(sorted(l)))
print(list(sorted(l, key=함수2)))

# 3. 중앙에 위치한 값대로 정렬해주세요.
def 함수3(x):
    return x[1]

print(list(sorted(l)))
print(list(sorted(l, key=함수3)))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv'], [20, 30, 'hojun']]

In [37]:
l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합대로 출력해주세요.
def 함수4(x):
    return sum(x)

print(list(sorted(l, key=함수4)))
print(list(sorted(l, key=lambda x:sum(x))))
print(list(sorted(l, key=sum)))

[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]

# 4.2 다차원 리스트와 Built-in function, range, list comprehension

## 다차원 리스트와 Built-in functions

리스트 안에 리스트를 만들어 여러 차원의 데이터를 만들 수 있습니다</br>
많이 쓰이는 형태로는 엑셀과 같이 행과 열이 있는 형태이며 이러한 table 형태의 값은 2차원으로 표현됩니다

In [104]:
3       #상수(스칼라)
[2]     #1차원 리스트(Vector)
[[2]]   #2차원 리스트(Matrix)
[[[3]]] #3차원 리스트(Tensor)

<class 'int'>
<class 'list'>
<class 'list'>
<class 'list'>

In [109]:
#1차원 리스트
one_dimensional_list = [4, 2, 1, 3]
print(type(a))

<class 'list'>

In [110]:
#2차원 리스트
two_dimensional_list = [[1, 2, 3],
                        [11, 22, 33],
                        [10, 20, 30]]

print(a[0])
print(a[0][0])

[[1, 2], [1, 2], [1, 2]]
[1, 2]

In [111]:
#3차원 리스트
three_dimensional_list = [[[1, 2], [1, 2], [1, 2]],
                          [[10, 2], [1, 2], [1, 2]]]

print(a[1])
print(a[1][0])
print(a[1][0][0])

[[10, 2], [1, 2], [1, 2]]
[10, 2]
10

In [113]:
print(max(one_dimensional_list))
print(min(two_dimensional_list))   # 리스트의 첫번째 값을 기준으로 출력됩니다
print(sum(three_dimensional_list)) # 2차원 이상에서는 list와 다른 형태의 sum을 계산할 수 없으므로 error 발생

4
[1, 2, 3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [129]:
# 연습문제 1. 정수 5개를 Input으로 리스트형태로 입력받아서 평균을 내보기

test_list = list(input('평균을 구할 5개의 숫자를 콤마(,)로 구분해서 입력해주세요').replace(', ', ',').split(','))
test_list = list(map(int, test_list))

sum(test_list)/len(test_list)

평균을 구할 5개의 숫자를 콤마(,)로 구분해서 입력해주세요 1, 2, 3, 4, 5

3.0

In [189]:
test_list = [int(i) for i in input('평균을 구할 5개의 숫자를 콤마(,)로 구분해서 입력해주세요').replace(', ', ',').split(',')]
sum(test_list)/len(test_list)

평균을 구할 5개의 숫자를 콤마(,)로 구분해서 입력해주세요 1, 2, 3, 4, 5

3.0

In [125]:
t = [1, 2, 3]  # 패킹
a, b, c = t    # 언패킹

print(t, a, b, c)

[1, 2, 3] 1 2 3

## range

range는 범위를 표연하는 용도로 많이 사용됩니다</br>
python 2.x에서는 range자료형이 list였지만, 3.x에 와서는 range가 되었습니다</br>
이는 메모리를 효율적으로 다루기 위함입니다</br>
range는 다음 값만 지칭해주기  때문에 메모리 효율이 좋습니다

range(start, stop, step)</br>
start에서 stop-1까지 step의 간격으로 값을 출력하겠다는 의미입니다

In [118]:
print(list(range(10)))

print(list(range(0, 11, 2))) #짝수
print(list(range(1, 11, 2))) #홀수

print(list(range(10, 1, -2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

## List comprehension

append를 사용하지 않고 빠르게 리스트를 만드는 방법으로 list comprehension 기법을 사용합니다</br>

***일반적으로 list comprehension이 for문보다 빠릅니다***</br>
list comprehension이 내부적으로 C로 구현되어 있어서 더욱 효율적인 속도를 보이기 때문입니다</br>
하지만, 데이터 크기가 작을 경우에는 둘의 속도 차이가 크지 않습니다

***for문을 사용하면 가독성이 높아질 수 있습니다***</br>
복잡한 로직을 쉽게 처리할 수 있어서 가독성이 높아질 수 있습니다</br>
따라서 어떤 방법을 선택할지는 사용하는 데이터의 크기와 로직의 복잡도 등에 따라 달라질 수 있습니다

***최적의 방법을 찾으려면, 실험을 진행하여 각 방법의 속도를 측정해 보는 것이 좋습니다***</br>
단, 데이터 크기가 클 경우에는 속도 측면에서 list comprehension이 좀 더 유리할 수 있습니다

In [121]:
l = []
for i in range(10):
    l.append(i)

ll = [i for i in range(10)]

print(l, '\n', ll)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 다양한 방식의 리스트 출력: enumerate

데이터 분석 과정에서는 개인정보 보호를 위해 민감한 정보를 마스킹하여 처리하는 경우가 많습니다</br>
이 때 enumerate함수를 활용하면 마스킹된 데이터의 인덱스와 값을 동시에 다룰 수 있습니다

```python
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'age': [25, 30, 35, 40],
        'ssn': ['111-11-1111', '222-22-2222', '333-33-3333', '444-44-4444']}

df = pd.DataFrame(data)
```

위와 같은 데이터프레임이 있다고 가정합니다</br>
ssn 속성에 주민등록번호와 같은 민감한 개인정보가 포함되어 있을때, 마스킹하여 인덱스와 함께 출력할 수 있습니다

```python
for idx, row in enumerate(df.itertuples(), 1):
    print("Row {}: name={}, age={}, ssn=***-**-{}".format(idx, row.name, row.age, row.ssn[-4:]))
```

itertuples() 메서드를 사용하여 각 행에 대해 namedtuple 객체를 생성합니다</br>
위 코드에서 df.intertuples() 객체가 반환하는 값은 다음과 같습니다</br>

Pandas(Index=0, name='Alice', age=25, ssn='111-11-1111')</br>
Pandas(Index=1, name='Bob', age=30, ssn='222-22-2222')</br>
Pandas(Index=2, name='Charlie', age=35, ssn='333-33-3333')</br>
Pandas(Index=3, name='Dave', age=40, ssn='444-44-4444')</br>

In [186]:
data = [10, 20, 30, 40, 50]

for idx, value in enumerate(data):
    print("Index: {}, Value: {}".format(idx, value))

Index: 0, Value: 10
Index: 1, Value: 20
Index: 2, Value: 30
Index: 3, Value: 40
Index: 4, Value: 50

# 4.3 튜플

- 튜플은 순서가 있는 시퀀스형 자료형입니다
- 참조값은 변경이 불가능(immutable) 합니다 / tuple() * or + 와 같은 값의 증가는 가능합니다
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다
- 값의 중복을 허락합니다

변경가능한 자료형을(예를 들어 튜플) 불가능한 자료형(예를 들어 리스트) 안에 넣는 것은 좋은 선택은 아닙니다

In [135]:
test = ('a', 'b', 'c')

print(test[0])

test[0] = 'd'
print(test)

a

TypeError: 'tuple' object does not support item assignment

In [134]:
test * 3

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [133]:
test + test

('a', 'b', 'c', 'a', 'b', 'c')

In [136]:
# *주의*

test = 1, 2, 3    # 이와 같이 정의해도 tuple로 인식합니다
print(type(test))

<class 'tuple'>

In [229]:
print((1, 2) < (1, 3))  # True, 첫번째 요소가 같으므로 두번째 요소를 비교하여 2 < 3이므로 True
print((1, 2) < (2, 1))  # True, 첫번째 요소를 비교하여 1 < 2이므로 True
print((1, 2, 3) > (1, 2))  # True, 두번째 요소까지 같으므로 세번째 요소를 비교하여 3 > 없으므로 True
print(('apple', 'banana') > ('apple', 'bee'))  # True, 두번째 요소까지 같으므로 세번째 요소인 'b'와 'e'를 비교하여 'b' > 'e'이므로 True

list1 = [1, 2, 3]
list2 = [1, 3, 2]
list3 = [1, 2, 3, 4]

print(list1 < list2) # True
print(list1 < list3) # True
print(list2 < list3) # False

True
True
True
False
True
True
False

## 튜플의 메서드

변경이 불가능 하기 때문에 사용 할 수 있는 method가 제한적입니다

In [137]:
t = (1, 2, 3, 4, 5, 6)

print(t.count(1))
print(t.index(5))

1
4

# +) 시퀀스 자료형 비교연산

시퀀스 자료형은 비교 연산(리스트, 튜플)이 가능합니다</br>
튜플은 첫번째 요소부터 차례대로 비교하다가, 같은 요소를 찾을 때까지 비교합니다</br>
만약 같은 요소가 없다면 길이가 짧은 쪽이 작은 것으로 판단됩니다

>딕셔너리 자료형은 비교 연산을 지원하지 않습니다</br>딕셔너리 간의 동등성 비교는 == 연산자를 사용하여 가능합니다. 두 딕셔너리가 같은 키와 값으로 이루어져 있으면 True를 반환하고, 그렇지 않으면 False를 반환합니다.

```python
from collections import OrderedDict

# 두 개의 dictionary 객체 생성
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 2, 'c': 3, 'a': 1}

# 두 개의 OrderedDict 객체 생성
odict1 = OrderedDict([('a', 1), ('b', 2), ('c', 3)])
odict2 = OrderedDict([('a', 1), ('c', 3), ('b', 2)])

print(dict1 == dict2)    # True
print(odict1 == odict2)  # False
```

>딕셔너리의 키와 값의 순서가 중요한 경우,</br>
collections.OrderedDict 클래스를 사용할 수 있습니다</br>
이 클래스는 딕셔너리와 유사하지만, 삽입 순서가 유지되므로 키와 값의 순서가 중요한 경우 사용할 수 있습니다

# 4.4 딕셔너리

- 딕셔너리는 순서가 없는 자료형입니다
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다 { key : value }
- 값의 변경이 가능합니다
- 다른 자료형을 입력할 수 있습니다
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다

다른 프로그래밍 언어에서는 Hash, Map 등 다른 용어로 불리기도 합니다

In [ ]:
dictionary = { 'key1': 'value1', 'key2': 'value2', 'key3': 'value3' }

In [139]:
dictionary = dict([('one' , '하나'), ('two', '둘')]) #대괄호를 이용하여 키와 value를 구별해야 합니다.
print(dictionary)

dictionary = dict(name = 'leehojun',age = 10)
print(dictionary)

{'one': '하나', 'two': '둘'}
{'name': 'leehojun', 'age': 10}

In [140]:
print(list(zip('ABC', '123', 'abc')))

print(dict(zip('ABC', '123'))) #형변환

[('A', '1', 'a'), ('B', '2', 'b'), ('C', '3', 'c')]
{'A': '1', 'B': '2', 'C': '3'}

**key값으로 value를 호출할 수 있지만, value로 key값을 호출할 수 없습니다**

**key값으로 리스트를 사용할 순 없지만, 튜플은 키값으로 사용할 수 있습니다**

In [138]:
dictionary = {'one' : '하나', 'two' : '둘', 'three' : '셋'}

print(dictionary['one'])
dictionary['one'] = 1
print(dictionary)

하나
{'one': 1, 'two': '둘', 'three': '셋'}

In [143]:
map_check = {
    (1, 3): 10293,
    (1, 2): 39492,
    (1, 1): 49377,
    (1, 4): 12375
}

print(map_check)

{(1, 3): 10293, (1, 2): 39492, (1, 1): 49377, (1, 4): 12375}

### zip

파이썬 **내장 함수** 중 하나로,</br>
여러 개의 iterable(반복 가능한 객체)를 받아서 각 iterable에서 같은 index에 있는 요소들을 묶어서 튜플 형태의 새로운 iterable을 생성합니다

>zip() 함수는 여러 개의 iterable을 동시에 처리해야 하는 경우, </br>특히 for문에서 여러 개의 리스트를 동시에 순회할 때 유용하게 사용됩니다

In [225]:
key = ['name', 'age', 'gender']
value = ['김태호', '30', 'M']

for i, j in zip(key, value):
    print(i, ': ', j)

name :  김태호
age :  30
gender :  M

In [226]:
l_zip = list(zip(key, value))
l_zip

[('name', '김태호'), ('age', '30'), ('gender', 'M')]

## 딕셔너리 메서드

- keys : 자료형에 있는 key 값들을 dict_keys 객체로 반환합니다
- values : 자료형에 있는 value 값들을 dict_values 객체로 반환합니다
- items : 자료형에 있는 key와 value를 리스트 형태의 dict_items 객체로 반환합니다
- get : key값으로 value값을 호출하고 싶다면 get을 사용하여 호출합니다
- fromkeys : 딕셔너리 자료형을 생성하는 메서드입니다. value에 지정한 값을 각 key에 공통적으로 입력합니다
- update : 기존 데이터의 value를 변경하기 위해 사용합니다
- del : 요소를 삭제하고 싶을때 사용합니다

### keys

자료형에 있는 key 값들을 dict_keys 객체로 반환합니다

In [144]:
map_check = {
    (1, 3): 10293,
    (1, 2): 39492,
    (1, 1): 49377,
    (1, 4): 12375
}

print(map_check.keys())

dict_keys([(1, 3), (1, 2), (1, 1), (1, 4)])

### values

자료형에 있는 value 값들을 dict_values 객체로 반환합니다

In [145]:
map_check = {
    (1, 3): 10293,
    (1, 2): 39492,
    (1, 1): 49377,
    (1, 4): 12375
}

print(map_check.values())

dict_values([10293, 39492, 49377, 12375])

## items

자료형에 있는 key와 value를 리스트 형태의 dict_items 객체로 반환합니다

In [146]:
map_check = {
    (1, 3): 10293,
    (1, 2): 39492,
    (1, 1): 49377,
    (1, 4): 12375
}

print(map_check.items())

dict_items([((1, 3), 10293), ((1, 2), 39492), ((1, 1), 49377), ((1, 4), 12375)])

**원하는 Key가 있는지 찾아볼 때에는 in 을 활용할 수 있습니다**

In [147]:
my_score = {
    'korean': 90,
    'english': 80,
    'math': 100
}

print('math' in my_score)
print('science' in my_score)

True
False

### get

key값으로 value값을 호출하고 싶다면 get을 사용하여 호출합니다

In [148]:
def switch(x):
    return {1 : 'Mon',
            2 : 'Tue',
            3 : 'Wed',
            4 : 'Thu'
            }.get(x)
print(switch(3))

Wed

### fromkeys

딕셔너리 자료형을 생성하는 메서드입니다
```python
dict.fromkeys(iterable, value=None)
```
value에 지정한 값을 각 key에 공통적으로 입력합니다

In [150]:
keys = ('name','age','grade')
values = ('leehojun','10','수')

dict.fromkeys('leehojun',100)
dict.fromkeys(keys, values)

{'name': ('leehojun', '10', '수'),
 'age': ('leehojun', '10', '수'),
 'grade': ('leehojun', '10', '수')}

### update

기존 데이터의 value를 변경하기 위해 사용합니다

In [153]:
my_score.update({'korean': 80})

print(my_score)

{'korean': 80, 'english': 80, 'math': 100}

딕셔너리 자료형의 key는 변경이 불가합니다</br>
key값을 변경하려면 해당 key를 삭제하고 변경하고자하는 key값에 원래의 value를 입력하는 방식을 사용합니다

In [155]:
# 딕셔너리 생성
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)

# 'a' 키(key)를 'x'로 변경
my_dict['x'] = my_dict.pop('a')

# 딕셔너리 출력
print(my_dict)  # {'b': 2, 'c': 3, 'x': 1}

{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3, 'x': 1}

### del

요소를 삭제하고 싶을때 사용합니다

In [156]:
my_score = {
    'korean': 90,
    'english': 80,
    'math': 100
}

del my_score['english']

print(my_score)

{'korean': 90, 'math': 100}

## 딕셔너리 순회

for문에서 딕셔너리를 순회하면 키의 값만 출력됩니다

In [157]:
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

#키의 값과 vlaue순회
for i in d:    
    print(i, d[i])

two
three
two 2
three 셋

In [158]:
for i , j in d.items():
     print(i, j)

d.items()

two 2
three 셋

dict_items([('two', 2), ('three', '셋')])

# 4.5 set

- 중복을 허용하지 않으며, 순서가 없는 자료형입니다

In [159]:
number_set = set([1, 1, 2, 2, 3, 3, 4])
print(number_set)

{1, 2, 3, 4}

## set 메서드

- add : 값을 1개 추가할 때 사용합니다
- update : 값을 여러 개 추가할 때 사용합니다
- remove : 특정 값을 제거하고 싶을 때 사용합니다
- discard : remove와 동일한 동작을 수행합니다
    - remove는 제거하려는 값이 없으면 오류를 출력하고, discard는 오류를 출력하지 않습니다
- pop : 값을 순서대로 하나씩(가장 낮은 index의 값, 좌측) 지우고 싶을 때 사용합니다
    - list에 대한 동작은 가장 index가 큰(우측) 값을 제거하고
    - dictionary는 제거할 값을 지정해야하며, 지정하지 않으면 오류를 출력합니다
- intersection (&) : 두 set자료형의 교집합, 공통으로 갖고 있는 값을 반환합니다
- union (|) : 합집합
- difference (-) : 차집합
- symmetric_difference (^) : 대칭차집합(여집합), 두 set자료형의 공통된 부분을 제외한 나머지를 반환합니다
- symmetric_difference_update : 집합을 비교한 결과를 현재의 집합에 적용하여, 원래의 집합이 업데이트됩니다
- issubset : set자료형이 함수에 지정한 set의 부분집합인지 bool형태로 반환합니다
    - 부등호를 이용해서 부분집합 여부를 표현할 수 있습니다
    - s.issubset({1, 2})와 s >= {1, 2}는 같은 결과를 반환합니다
- isdisjoint : 서로 공통된 데이터를 가지고 있는지 여부를 bool형태로 반환합니다
    - 겹치는 부분이 있으면 False, 없으면 True가 출력됩니다

### add

값을 1개 추가할 때 사용합니다

In [167]:
menu = set(['americano', 'cafe latte'])
menu.add('ice coffee')
print(menu)

{'americano', 'ice coffee', 'cafe latte'}

### update

값을 여러 개 추가할 때 사용합니다

In [168]:
menu.update(['ice coffee', 'ice tea', 'green tea'])
print(menu)

{'ice coffee', 'cafe latte', 'americano', 'green tea', 'ice tea'}

### remove

특정 값을 제거하고 싶을 때 사용합니다

In [169]:
menu.remove('cafe latte')
print(menu)

{'ice coffee', 'americano', 'green tea', 'ice tea'}

### discard

remove와 동일한 동작을 수행합니다

***remove는 제거하려는 값이 없으면 오류를 출력하고, discard는 오류를 출력하지 않습니다***

In [175]:
s = {2, 3, 4, 5, 6}
s.discard(3)
print(s)

s.discard(1)
print(s)

{2, 4, 5, 6}
{2, 4, 5, 6}

In [176]:
s.remove(3)

KeyError: 3

### pop

값을 순서대로 하나씩(가장 낮은 index의 값, 좌측) 지우고 싶을 때 사용합니다


list에 대한 동작은 가장 index가 큰(우측) 값을 제거하고</br>
dictionary는 제거할 값을 지정해야하며, 지정하지 않으면 오류를 출력합니다

In [177]:
s = {3, 4, 5, 6, 7, 8}
s.pop()
print(s)

{4, 5, 6, 7, 8}

### intersection (&) 교집합

두 set자료형의 교집합, 공통으로 갖고 있는 값을 반환합니다

In [178]:
my_cafe = set(['americano', 'water', 'yogurt strawberry blended', 'cafe latte'])
other_cafe = set(['americano', 'water', 'green tea'])

print(my_cafe & other_cafe)
print(my_cafe.intersection(other_cafe))

{'americano', 'water'}
{'americano', 'water'}

### union (|) 합집합

In [179]:
print(my_cafe | other_cafe)
print(my_cafe.union(other_cafe))

{'americano', 'yogurt strawberry blended', 'water', 'cafe latte', 'green tea'}
{'americano', 'yogurt strawberry blended', 'water', 'cafe latte', 'green tea'}

### difference (-) 차집합

In [180]:
print(my_cafe - other_cafe)
print(my_cafe.difference(other_cafe))

{'americano', 'yogurt strawberry blended', 'water', 'cafe latte', 'green tea'}
{'americano', 'yogurt strawberry blended', 'water', 'cafe latte', 'green tea'}

### symmetric_difference (^) 대칭차집합

두 set자료형의 공통된 부분을 제외한 나머지를 반환합니다</br>
symmetric_difference_update함수는 집합을 비교한 결과를 현재의 집합에 적용하여, 원래의 집합이 업데이트됩니다

> 대칭 차집합(symmetric difference)은 두 집합 A와 B 사이의 차집합의 합집합입니다. </br>
즉, A-B와 B-A의 합집합을 의미합니다. 대칭 차집합은 A와 B 모두에 속하지 않는 원소들로 이루어진 집합을 말합니다.</br>
반면에, 여집합(complement)은 전체 집합에서 특정 부분 집합의 원소를 뺀 나머지 집합을 말합니다. </br>예를 들어, 전체 집합이 U이고, 부분 집합이 A일 때, A의 여집합은 U-A입니다. 즉, A에 속하지 않는 모든 원소들의 집합을 말합니다.

In [181]:
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}

s^ss

set.symmetric_difference(s, ss)

{1, 2, 5, 6}

### issubset

set자료형이 함수에 지정한 set의 부분집합인지 bool형태로 반환합니다 (부등호를 이용해서 부분집합 여부를 표현할 수 있습니다)
```python
s = {1, 2, 3, 4}

s.issubset({1, 2})
s >= {1, 2}
```
위 코드에서 두 구문은 같은 결과를 반환합니다

In [184]:
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}
print(s.issubset({1, 2}))
print(s.issubset({1, 2, 3, 4, 5, 6}))

print(s < {1, 2, 3, 4, 5, 6}) #진부분집합(<->진상위집합)
print(s >= {1, 2}) #부분집합(<->상위집합)

False
True
True
True

### isdisjoint

서로 공통된 데이터를 가지고 있는지 여부를 bool형태로 반환합니다 (겹치는 부분이 있으면 False, 없으면 True가 출력됩니다)

In [185]:
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}

s.isdisjoint(ss)

False

# 4.6 연습문제

문제 1. 다음은 python 강좌 학생들의 시험 점수를 딕셔너리로 나타낸 것입니다

```python
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}
```

- 학생들의 **총점**을 구하는 코드를 작성하세요
- 학생들의 **평균 점수**를 구하는 코드를 작성하세요
- 점수가 가장 **높은** 학생의 이름과 그 점수를 구하는 코드를 작성하세요
- 점수가 가장 **낮은** 학생의 이름과 그 점수를 구하는 코드를 작성하세요

In [207]:
student_score = {
        '홍의': 97,
        '원희': 60,
        '동해': 77,
        '변수': 79,
        '창현': 89,
}

In [224]:
sum_score = 
avg_score = sum(student_score.values()) / len(student_score.values())

80.4

**copy메서드는 shallow copy(얕은 복사)입니다**

shallow copy는 대상의 메모리 주소를 복사하고, deep copy는 대상의 값을 복사합니다

In [98]:
l_copy = copy.copy(l)
l_deepcopy = copy.deepcopy(l)

id(l), id(l_copy), id(l_deepcopy)

(4387432384, 4387234496, 4387378560)

In [73]:
import copy

l2 = l.copy()
l4 = copy.deepcopy(l)

id(l), id(l2), id(l4)

(4386813248, 4387132288, 4387378048)

In [101]:
import copy

l = [[1, 2, 3], [4, 5, 6]]
l_copy = copy.copy(l)
l_copy[0][0] = 1000
l

[[1000, 2, 3], [4, 5, 6]]

In [102]:
import copy

l = [[1, 2, 3], [4, 5, 6]]
l_deepcopy = copy.deepcopy(l)
l_deepcopy[0][0] = 1000
l

[[1, 2, 3], [4, 5, 6]]

In [71]:
l2[0] = 1
print(l2)
print(l)

[1, 20, 30, 50, 40, 50, 10, 20, 30, 50, 40, 50, 10, 20, 30]
[10, 1, 1, 11, 2, 23, 12, 10, 1, 1, 11, 2, 23, 12, 10, 20, 30, [...]]

In [84]:
c = [9999, 9999, 9999]
print(id(c[0]), id(c[1]), id(c[2]))
c[0] is c[1]

4387549264 4387549264 4387549264

True

In [88]:
c = [[1,2,3], [1,2,3], [1,2,3]]
print(id(c[0]), id(c[1]), id(c[2]))
c[0] is c[1]

4387309184 4387368576 4387424256

False

In [89]:
c = [[1,2,3], [1,2,3], [1,2,3]]
print(id(c[0][0]), id(c[1][0]), id(c[2][0]))
c[0][0] is c[1][0]

4314195488 4314195488 4314195488

True

In [95]:
a = [[1, 2, 3], [1, 2, 3], [1, 2, 3]]
aa = a.copy()

print(id(a[0]), id(a[1]), id(a[2]))
print(id(aa[0]), id(aa[1]), id(aa[2]))
print(id(a[0][0]), id(a[1][0]), id(a[2][0]))
print(id(aa[0][0]), id(aa[1][0]), id(aa[2][0]))

4387309568 4387385216 4387342848
4387309568 4387385216 4387342848
4314195488 4314195488 4314195488
4314195488 4314195488 4314195488

In [94]:
b = [[1, 2, 3], [1, 2, 3], [1, 2, 3]]
bb = copy.deepcopy(b)

print(id(b[0]), id(b[1]), id(b[2]))
print(id(bb[0]), id(bb[1]), id(bb[2]))
print(id(b[0][0]), id(b[1][0]), id(b[2][0]))
print(id(bb[0][0]), id(bb[1][0]), id(bb[2][0]))

4387310400 4387382976 4386538944
4387367168 4387308288 4387348544
4314195488 4314195488 4314195488
4314195488 4314195488 4314195488

In [80]:
a = [1, 2, 3]
b = copy.deepcopy(a)
c = copy.deepcopy(b)
print(a, b, c)

print(id(a) == id(b)) # False
print(id(a[0]) == id(b[0])) # True

a = [[1, 2, 3], 2, 3]
b = copy.deepcopy(a)
c = copy.deepcopy(b)
print(a, b, c)

print(id(a) == id(b)) # False
print(id(a[0]) == id(b[0])) # False

[1, 2, 3] [1, 2, 3] [1, 2, 3]
False
True
[[1, 2, 3], 2, 3] [[1, 2, 3], 2, 3] [[1, 2, 3], 2, 3]
False
False

In [39]:
chat_gpt('shallow copy와 deep copy의 차이는 뭐야?')

shallow copy와 deep copy는 객체를 복사하는 방법에 따라 다릅니다.

shallow copy는 주어진 객체를 복사하여 새로운 객체를 만드는 것이지만, 그 안에 있는 객체들은 같은 메모리 위치를 참조하고 있습니다. 따라서, 원본 객체나 복사본 객체 중 하나에서 해당 객체를 수정하면 다른 객체도 함께 변경됩니다.

deep copy는 원본 객체 안에 있는 모든 객체들을 새로운 메모리 위치에 복사하여 새로운 객체를 만드는 것입니다. 따라서, 원본 객체나 복사본 객체 중 하나에서 해당 객체를 수정해도 다른 객체는 영향을 받지 않습니다.

간단하게 예를 들면, shallow copy는 복사본과 원본이 같은 참조를 가지고 있는 반면, deep copy는 서로 참조가 다릅니다.

따라서, shallow copy는 복사한 객체와 원본 객체 사이의 관계가 얕고, deep copy는 더 깊은 관계를 갖습니다.

In [205]:
original_list = [257, 273, 393, [311, 272]]

copy_list = original_list.copy()

print(id(original_list), id(copy_list), id(original_list[0]), id(copy_list[0]), id(original_list[3]), id(copy_list[3]))

4396182464 5169610240 5169375824 5169375824 4396394304 4396394304

In [206]:
original_list = [1, 2, 3, [1, 2]]

copy_list = original_list.copy()

print(id(original_list), id(copy_list), id(original_list[0]), id(copy_list[0]))

4396339840 4386342208 4314195488 4314195488

In [201]:
original_list[0] = 275
print(copy_list)

[1, 2, 3, [1, 2]]

In [203]:
original_list[3][0] = 2
print(copy_list)

[1, 2, 3, [2, 2]]

In [40]:
chat_gpt('shallow copy와 deep copy의 차이를 코드로 비교해서 보여줘')

Shallow copy와 deep copy는 객체 복사에 대한 두 가지 다른 방식입니다. Shallow copy는 객체의 주소만 복사하고, deep copy는 객체의 모든 내용을 복사하는 것입니다.

아래는 Shallow copy와 deep copy를 비교하는 예제 코드입니다.

``` python
# Shallow Copy 예제

original_list = [1, 2, [3, 4]]
shallow_copy_list = original_list.copy()

# original_list 출력
print(original_list)   # [1, 2, [3, 4]]

# shallow_copy_list 출력
print(shallow_copy_list) # [1, 2, [3, 4]]

# 원본 리스트와 shallow_copy_list는 같은 객체를 참조
print(id(original_list)) # 140159769974776
print(id(shallow_copy_list)) # 140159769974776

# 리스트 내부의 객체는 같은 객체를 참조
print(id(original_list[2])) # 140159769975432
print(id(shallow_copy_list[2])) # 140159769975432


original_list[2].append(5)

# 수정된 original_list 출력
print(original_list)   # [1, 2, [3, 4, 5]]

# 수정된 shallow_copy_list 출력
print(shallow_copy_list) # [1, 2, [3, 4, 5]]
```

위 예제에서 shallow_copy_list는 copy() 메소드를 이용하여 original_list를 복사했습니다. 그리고 id() 함수를 이용하여 객체의 주소를 확인해보니, 원본 리스트와 shallow_copy_list가 같은 객체를 참조하는 것을 확인할 수 있습니다. 그렇기 때문에, 리스트 내부의 객체인 [3, 4]도 같은 객체를 참조합니다. 그리고 원본 리스트에 값을 추가한 후, shallow_copy_list를 출력해보면, 수정된 내용까지 같이 출력됩니다.

``` python
# Deep Copy 예제

import copy

original_list = [1, 2, [3, 4]]
deep_copy_list = copy.deepcopy(original_list)

# original_list 출력
print(original_list)   # [1, 2, [3, 4]]

# deep_copy_list 출력
print(deep_copy_list)   # [1, 2, [3, 4]]

# 원본 리스트와 deep_copy_list는 다른 객체를 참조
print(id(original_list)) # 140164016309056
print(id(deep_copy_list)) # 140164016309696

# 리스트 내부의 객체도 다른 객체를 참조
print(id(original_list[2])) # 140164016309824
print(id(deep_copy_list[2])) # 140164018457856

original_list[2].append(5)

# 수정된 original_list 출력
print(original_list)   # [1, 2, [3, 4, 5]]

# 수정된 deep_copy_list 출력
print(deep_copy_list)   # [1, 2, [3, 4]]
```

위 예제에서 deep_copy_list는 deepcopy() 함수를 이용하여 original_list를 복사했습니다. 그리고 객체의 주소를 확인해보니, 원본 리스트와 deep_copy_list가 다른 객체를 참조하는 것을 확인할 수 있습니다. 원본 리스트와 deep_copy_list의 리스트 내부 객체도 다른 객체를 참조합니다. 그리고 원본 리스트에 값을 추가한 후, deep_copy_list를 출력해보면, 원본 리스트에 추가된 내용은 출력되지 않습니다.

In [44]:
chat_gpt('shallow copy한 리스트의 정수형 값을 변경하면 원본 리스트의 값도 변경되는지 코드로 보여줘')

# shallow copy 예시
original_list = [1, 2, 3]
copy_list = original_list.copy()

# copy_list의 값을 변경
copy_list[0] = 4

# original_list 값 출력 (원본 리스트의 값은 변경되지 않음)
print(original_list)  # [1, 2, 3]

# shallow copy 예시
original_list = [[1, 2], [3, 4], [5, 6]]
copy_list = original_list.copy()

# copy_list의 값을 변경
copy_list[0][0] = 7

# original_list 값 출력 (원본 리스트의 값도 변경됨)
print(original_list)  # [[7, 2], [3, 4], [5, 6]]

In [45]:
chat_gpt('original_list = [1, 2, 3]를 shallow copy하고 copy_list[0] = 4로 변경했는데 original_list는 왜 변하지 않아?')

이는 shallow copy의 동작 방식 때문입니다. shallow copy는 원래의 리스트와 같은 객체를 참조하므로, 원래의 리스트와 복사된 리스트는 같은 객체를 가리킵니다. 하지만 원본 리스트의 객체와 복사된 리스트의 객체는 서로 별개의 객체이므로, 복사된 리스트에서 객체의 값을 변경하더라도 원본 리스트의 객체의 값은 변경되지 않습니다. 따라서 copy_list[0] = 4로 변경해도 original_list는 영향을 받지 않습니다.