**모든 Line은 79자(Characters)로 제한하는 것을 권고합니다.**
* 강제사항은 아닙니다.
* 띄어쓰기 4번도 강제사항은 아닙니다.
* pep8, pep 20에 기술되어 있습니다. => pep(Python Enhancement Proposal) : 언어 발전을 위해 논의된 주제
* pep8 : Style Guide for Python Code
* pep20 : The Zen of Python

* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
* line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
* https://peps.python.org/

# 1.1 주석과 변수

## 주석

In [1]:
# 행 단위 주석입니다. Ctrl + /

'''
열 단위 주석입니다. 
1 + 1
'''

1 + 1

2

**주석 작성 예시**
* 가장 좋은 코드는 주석을 읽지 않고도 쉽게 읽을 수 있는 코드
* 변수명은 최대한 상세하게 사용

In [ ]:
def solution(hello):
    '''Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    '''
    return hello

solution('x')

## 변수

**CS에서 변수란?**
* 포스트잇! (메모리 공간을 가리키는)
```
    a = 10 이란, a가 10의 주소를 가리키는 형태
    
    a = 10
    b = a
    a = 20
    
    에서 왜 b는 10일까?
    
    b = a에서 a가 갖고 있는 10의 주소값을 받아오기 떄문에
    a = 20에서 a가 20의 주소값을 가리키게 되어도
    b는 10의 주소를 가리키기 때문

    변수가 실제 가리키는 값의 주소를 보려면 id("var")
```

**dir() : 변수가 갖고 있는 모든 속성 출력 </br>
변수에 사용할 수 있는 함수는 dir()함수를 통해 확인할 수 있습니다</br>
__로 이뤄진 함수는 빌트인 function(매직 매서드)**

In [2]:
a = 10
b = a
a = 20

print(b)

10

### 변수의 타입

**변수의 타입은 왜 있을까?**
* 효육적인 측면
```
'a' + 'a' 에서 'a'는 ASCII code, 즉 숫자인데 왜 이어붙일까?
우리가 통념적으로 생각하는 문자열의 연산을 Python에 구현한 것
매직 매서드(__init__과 같은)를 통해서 이런 '약속'들을 구현한다
```
* 관리적인 측면

In [5]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

print('type(10) : ', type(a))
print('type(10.1) : ', type(b))
print('type(-1) : ', type(c))
print('type(True) : ', type(d))
print('type(\'good\') : ', type(e))
print('\'10\' + \'10\' : ', f + f)
print('\'10\' * 3', f * 3)
print('\'hong\' + \'gildong\'', g + h)
print('type(\'gildong\') : ', type(h))
print('type(\'gildong100!!\') : ', type(i))
print('type(10 + 2j) : ', type(j))
print('type(0b110) : ', type(k))
print(k)
print('type(0o56) : ', type(i))
print(i)
print('type(0xAC) : ', type(m))
print(m)

type(10) :  <class 'int'>
type(10.1) :  <class 'float'>
type(-1) :  <class 'int'>
type(True) :  <class 'bool'>
type('good') :  <class 'str'>
'10' + '10' :  1010
'10' * 3 101010
'hong' + 'gildong' kimhonggildong
type('gildong') :  <class 'str'>
type('gildong100!!') :  <class 'str'>
type(10 + 2j) :  <class 'complex'>
type(0b110) :  <class 'int'>
6
type(0o56) :  <class 'str'>
example
type(0xAC) :  <class 'int'>
172

In [136]:
def hello():
    return

class A:
    pass

n = hello           #function
o = print           #built-in function
p = lambda x:x**2   #function
q = A               # class
r = A()             # instance

print('type(n) :', type(n))
print('type(o) :', type(o))
print('type(p) :', type(p))
print('type(q) :', type(q))
print('type(r) :', type(r))

type(n) : <class 'function'>
type(o) : <class 'builtin_function_or_method'>
type(p) : <class 'function'>
type(q) : <class 'type'>
type(r) : <class '__main__.A'>

In [138]:
print(type(int))
print(type(2.3) == float)
print(type(2) == int)

<class 'type'>
True
False

**무리수는 float**

In [132]:
print(2.3e3) # 무리수, 오일러의 수 (2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

print(2.3 * (10 ** -3))

print(type(2.3e3))

2300.0
2300.0
0.0023
<class 'float'>

### 변수의 속성

* 영문과 숫자를 사용할 수 있지만, 숫자로 시작하지는 못합니다
* 특수문자는 사용하지 않아요
    * 특수문자나 이모지 중 사용하능한 것이 있기는 합니다
    * _(under bar)는 사용합니다. : **스네이크 표기법** (helloWorld : **카멜 표기법**, javascript에서 많이 사용)
    * 권하지 않습니다
* 예약어는 사용하지 않습니다 (if, elif, while, for, etc..)
* 대소문자는 구분합니다
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다
    * 언더바로만 사용하는 경우! 해당 변수를 전혀 사용하지 않는 경우 (사용은 가능하지만, 권장하지 않습니다)
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 권합니다
    * Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

### 변수의 자료형

- int
- str
- float
- list
    - 순서가 있습니다
    - 수정이 가능합니다
    - comprehension이 일반 반복보다 속도 우위를 갖고 있습니다
    - slicing도 일반 반복보다 속도 우위를 갖고 있습니다
- tuple
- set
- dict

변수의 자료형은 다양한 데이터를 용도에 맞게 쓰기 위해서 입니다</br>
보통 언어에서는 변수의 자료형과 함께 변수를 선언하지만 파이썬은 자료형을 함께 쓸 필요가 없습니다</br>
파이썬은 변수에 저장된 값을 스스로 판단하여 자료형을 알아내기 때문입니다</br>
ex. sample_list = [1, 2, 3]

# 1.2 입력과 출력

## 입력함수 input

In [70]:
# input은 입력값을 문자열로 받는다
x = input()
print(x + x)

 5

55

In [76]:
x = int(input())
print(x)
print(x * x)

 5

5
25

## 출력함수 print

In [85]:
# %용법이 최초에 있었습니다. 안써요. 기억하시지 않으셔도 됩니다.
name = 'hojun'
age = 11
print('name %s'%name)
print('name %s age %d'%(name, age))

# format 용법이 생겼습니다.
# format 용법만 별도 정리 해드리겠습니다. (1시간 정도)
txt = 'name {} age {}'
print('name {} age {}'.format(name, age))
print('name {0} age {1}'.format(name, age))
print('name {1} age {1}'.format(name, age))
print(txt.format(name, age))

# f-string 용법이 생겼습니다.(3.6 version에서 새로 나옴)
name = 'hojun'
age = 11
print(f'name: {name} age: {age}')

name hojun
name hojun age 11
name hojun age 11
name hojun age 11
name 11 age 11
name hojun age 11
name: hojun age: 11

In [68]:
# 아래 3개는 모두 string

a = 10
'hello world {}'.format(a)
f'hello world {a}'
f'hello world'

'hello world'

In [84]:
r'hello world' # raw : 날것의
print(r'hello \n world \t')
print('hello \n world \t')

hello \n world \t
hello
 world

콜론을 기준으로 좌측의 문자를 우측에 표기한 길이만큼 <(왼쪽), >(오른쪽), ^(가운데) 정렬하고,

지정한 기호로 공백을 채운다

In [140]:
print(f'{"hello":<10}')
print(f'{"hello":>10}')
print(f'{"hello":^10}')

print(f'{"hello":!<10}')
print(f'{"hello":=>10}')
print(f'{"hello":~^10}')

hello
     hello
  hello
hello!!!!!
=====hello
~~hello~~~

format 함수의 활용
- 아래 예시는 zfill을 사용해도 되지만, format을 통해 가능하다는 것을 보여주는 예시

https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/

실수의 자릿수 표현

In [141]:
print(f'{0.45678:0.2f}')

0.46

**빌트인 function도 변수이다!**

In [77]:
type(print)
# https://docs.python.org/3/library/functions.html

builtin_function_or_method

In [78]:
leehojun = print
leehojun('hello world')
id(print), id(leehojun)

hello world

(4305234816, 4305234816)

In [88]:
print('hello world', sep=' ', end='!')
print('\nhello world', sep=' ', end='!')
print('\nhello world', sep=' ', end='!')

hello world!
hello world!
hello world!

In [82]:
print('hello','world', sep=' ', end='!')

hello world!

# 1.3 숫자 자료형

- class 'int'
    - 정수
    - N진수
- class 'float'
    - 실수
- class 'complex'
    - 복소수 (ex. 1+2j)
</br>
**numpy, Pandas와 같은 모듈에서는 메모리 효율을 위해 정수와 실수를 좀 더 세분화하여 연산하지만, Python에서는  크게 구분된 정수, 실수, 복소수로 연산합니다**

부동소수점 오차

모든 언어 공통 (2진법으로 변환했을 때 **무한대수**가 발생하기 때문)

In [8]:
0.1 + 0.2

0.30000000000000004

**N진법**
* 2진법 0b110에서 b는 binary
* 8진법 0o56에서 o는 octa
* 16진법 0xAD에서 x는 hexa

In [10]:
a = 0b110   # int, 2진법 / 0 or 1 숫자를 2개만 사용
b = 0o56    # int, 8진법 / 0 ~ 7 숫자를 8개만 사용
c = 0xAD    # int, 16진법 / 0 ~ 9, a ~ f 숫자를 16개만 사용

'''
    a : 6   (2^2)*1 + (2^1)*1 + (2^0)*0
    b : 46  (8^1)*5 + (8^0)*0
    c : 173 (16^1)*A + (16^0)*D = (16^1)*10 + (16^0)*13
    (16^1)*A + (16^0)*D
'''

type(a), type(b), type(c)

(int, int, int)

In [11]:
a, b, c

(6, 46, 173)

In [12]:
# 6, 46, 173을 다시 2진법, 8진법, 16진법으로 변환
bin(a), oct(46), hex(173)

('0b110', '0o56', '0xad')

In [13]:
# 2진법, 8진법, 16진법을 INT로 변환
# int('110', 2), int('56', 8), int('ad', 16) 도 같은 값 출력
int('0b110', 2), int('0o56', 8), int('0xad', 16)

(6, 46, 173)

# 1.4 문자 자료형

In [8]:
a.upper()

'HELLO WORLD'

In [9]:
a.lower()

'hello world'

In [10]:
a.islower() # 모두 소문자인가?

False

In [11]:
a.isupper() # 모두 대문자인가?

False

In [12]:
a.isdigit() # 숫자인가?

False

In [15]:
a.isalpha() # 알파벳인가? / 문자열에 공백이 있으면 False

False

isalnum : 알파벳 or 숫자인지 판별

In [143]:
print('hello world'.isalnum())
print('hello'.isalnum())
print('123hello'.isalnum())
print('안녕하세요'.isalnum())

False
True
True
True

In [20]:
s = 0
for i in '123abc7584739203lsdlfei123ndsdf':
    if i.isdigit():
        s = s + int(i)
s

60

**center** : 지정된 길이로 문자열을 만들고 가운데 정렬이 되도록 함, 공간을 채울 문자 지정 가능

rjust : 오른쪽 정렬

ljust : 왼쪽 정렬

In [34]:
print('hello world'.center(10))
print('hello world'.center(10, '*'))

 teahokim
*teahokim*

**index vs find**
* 두 함수 모두 문자열 내에서 찾고자 하는 문자의 index 반환
* index는 찾는 문자가 문자열에 없으면 error
* find는 찾는 문자가 문자열에 없으면 -1 출력

In [35]:
print('hello world'.index('h'))
print('hello world'.find('h'))

3
3

In [37]:
print('hello world'.index('z'))

ValueError: substring not found

In [38]:
print('hello world'.find('z'))

-1

In [47]:
print('hello world'.rfind('l'))

9

endswith('str') : 해당 문자열이 지정된 'str'로 끝나는지 반환 </br>
일반적으로 '문자열'[-1] == 'str' 형태로 많이 사용

**isnumeric vs isdigit**
* isnumeric
    * '수로 볼 수 있는 것'인 경우 True를 반환 (checks whether all the characters are numeric)
* isdigit
    * 만약 문자열이 모두 숫자이면 True, 공백이나 소숫점 등 문자가 있으면 False (checks whether the string contains only digits)
    * (works with *superscript characters)
    
</br>
½과 같은 수는 isdigit(), isdecimal()에서는 False지만 isnumeric()에서는 True
</br>
</br>
referenced : https://datagy.io/python-isdigit/ / https://otugi.tistory.com/101

In [26]:
a = '\u00B2' # unicode

print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
False

1부터 10000까지 8의 갯수를 세어라

In [31]:
str(list(range(10001))).count('8')

4000

**join**
* join하려면 string 형이어랴 한다

In [41]:
print(' '.join(['hello', 'world', 'thkim']))
print('-'.join(['hello', 'world', 'thkim']))
print('!'.join(['hello', 'world', 'thkim']))

hello world thkim
hello-world-thkim
hello!world!thkim

**strip** : 양쪽의 공백, 특정 문자 제거 / rstrip, lstrip이 있지만 주로 strip을 사용한다

In [89]:
print('     hello world     '.strip())
print('     hello world  ,! '.strip(' ,!'))

hello world
hello world

**zfill** : 지정한 문자열에 대해 지정한 자릿수에 비해 부족한 만큼 채움

In [49]:
'100'.zfill(10)

'0000000100'

**split** : 문자열을 지정한 문자를 기준으로 잘라서 list로 반환
* 정규표현식을 사용할 수 없음

In [50]:
'010-0000-0000'.split('-')

['010', '0000', '0000']

**replace** : 지정 문자를 변환
* 메서드 체이닝 형식으로 많이 사용

In [51]:
'payllab CEO leehojun'.replace('CEO', 'CTO').replace('hojun', 'gildong')

'payllab CTO leegildong'

In [52]:
'010-0000-0000'.split('-').zfill(10) # error 앞에서 진행한 split이 list를 반환하기 때문에 zfill을 사용할 수 없습니다.

AttributeError: 'list' object has no attribute 'zfill'

In [54]:
'010-0000-0000'.split('-').count('0000') # 반환된 list에서 '0000'을 찾기때문에 실행 가능합니다.

2

Q) 'hello'.count('') 가 왜 6이 출력될까?

In [65]:
'hello'.count('')

6

In [66]:
a = ''
print(len(a))
print(a.count(''))
# ' t e s t ' => 빈 문자가 5번 카운팅

0
1

In [67]:
a = 'a'
print(len(a))
print(a.count(''))
# ' t e s t ' => 빈 문자가 5번 카운팅

1
2

A) 문자열 앞뒤와 사이의 빈공간(not blank)을 count한다</br>
referenced : https://stackoverflow.com/questions/40192449/why-are-str-count-and-lenstr-giving-different-output

translate : 규칙테이블, 어떤 규칙을 정해 데이터를 정렬한다

In [90]:
규칙테이블 = str.maketrans('le','12') #어떤 규칙을 정하는것, l은 1, e는 2로 변경
'paullab CEO leehogun'.translate(규칙테이블)

'pau11ab CEO 122hogun'

In [144]:
규칙테이블 = str.maketrans({'\n':'', '\t':''})
'paullab \n\n\n CEO \t\t\t leehogun'.translate(규칙테이블)

'paullab  CEO  leehogun'

In [145]:
규칙테이블 = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함 / 이스케이프문은 길이 1이라서 blank 2개 기입함
'paullab \n\n\n CEO \t\t\t leehogun'.translate(규칙테이블)

'paullab     CEO     leehogun'

In [146]:
# 이스케이프 문자
print('hello world \n helo world1')
print('hello world \t helo world2')
print('hello world \' helo world3')
print('hello world \" helo world4')
print('hello world \\ helo world5')

hello world
 helo world1
hello world 	 helo world2
hello world ' helo world3
hello world " helo world4
hello world \ helo world5

Q) 암호 해독 문제!

In [58]:
암호 = '''+ +-+ -+-
++ -- +-+  
++-+ -+ -  
+ ++-+ -+  ''' 

print(암호)
암호.split('\n')[0]

+ +-+ -+-
++ -- +-+
++-+ -+ -
+ ++-+ -+

'+ +-+ -+-'

In [59]:
# 지금 이 코드에서는 strip을 할 이유가 없지만 앞 뒤 공백만 제거해야 할 때가 있습니다
이진수 = 암호.split('\n')[0].strip().replace(' ', '').replace('+', '1').replace('-', '0')
int(이진수, 2)

106

In [60]:
chr(106) # 유니코드표에서 숫자로 문자 출력
ord('j') # 유니코드표에서 문자를 숫자로 출력

106

In [64]:
result = ''
for i in 암호.split('\n'):
    이진수 = i.strip().replace(' ', '').replace('+', '1').replace('-', '0')
    해독 = chr(int(이진수, 2))
    result += 해독
    
result

'jeju'

# 1.5 문자열의 활용

## 문자열 슬라이싱

In [100]:
s = '위니브 월드 외곽에 살고 있는 생선가게...'
# s[start:stop:step]
s[0:6]
s[s.find('외곽'):s.find('외곽')+2]
s[:-5]
s[:-1] # 마지막 글자만 제거, 많이 쓰임
s[-7:-1]
s[::-1] # 역순으로 정렬

'...게가선생 는있 고살 에곽외 드월 브니위'

## 문자열의 사칙연산

In [102]:
s = 'leehojun'

print(s+s)
print('\n')
print(s*3)
# s/s  error
# s//s error
# s-s  error

leehojunleehojun


leehojunleehojunleehojun

# 1.6 형변환

**기존의 자료형에서 다른 자료형으로 바꾸는 것을 형변환이라고 합니다**

In [113]:
print(type(int(3.5)))
print(int(3.5))
print(type(float(3)))
print(float(3))
print(type(str(3)))
print(str(3))

<class '__main__.int'>
3
<class 'float'>
3.0
<class 'str'>
3

**str -> int 형변환**

In [120]:
x = input('Insert the number.')
y = input('Insert the number.')
print(x + y)
print(type(x))
print(type(y))

Insert the number. 1
Insert the number. 2

12
<class 'str'>
<class 'str'>

In [121]:
x = int(input('Insert the number.'))
y = int(input('Insert the number.'))
print(x * y)
print(type(x))
print(type(y))

Insert the number. 4
Insert the number. 5

20
<class '__main__.int'>
<class '__main__.int'>

**int -> str 형변환**

In [122]:
string = 123
print(type(string))
print(type(str(string)))

<class 'int'>
<class 'str'>

**Boolean으로 형변환**

In [123]:
print("bool('test') : ", bool('test'))
print("bool(1) : ", bool(1))
print("bool(0) : ", bool(0))
print("bool(-1) : ", bool(-1))
print("bool(' ') : ", bool(' '))
print("bool('') : ", bool(''))
print("bool(None) : ", bool(None))

bool('test') :  True
bool(1) :  True
bool(0) :  False
bool(-1) :  True
bool(' ') :  True
bool('') :  False
bool(None) :  False

**List로 형변환**

In [125]:
s='10'
l=list(s)
print(l)

name='leehojun'
print(list(name))

['1', '0']
['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']

**tuple로 형변환**

In [126]:
name='leehojun'
tuple(name)

('l', 'e', 'e', 'h', 'o', 'j', 'u', 'n')

**Dict로 형변환**

In [128]:
# Dict형으로 형변환하려면 키와 value가 있어야 합니다
# name='leehojun'
# dict(name)

s=[('name','leehojun'),('age',10)]
d=dict(s)
d

{'name': 'leehojun', 'age': 10}

**set로 형변환**

**set은 중복을 제거 할 때 많이 사용됩니다**

In [130]:
name='leehojun'
print(set(name)) #중복을 허락하지 않고 순서가 없습니다.
print(len(set(name))) #중복을 제거한 상태로의 길이를 알려줍니다.
print(len(name))

{'u', 'l', 'h', 'o', 'n', 'j', 'e'}
7
8

In [105]:
sum([10, 20, 30, 40], 0) # 0 -> 초기값
sum([10, 20, 30, 40], 100)
sum(([1, 2, 3], [4, 5, 6], [7, 8, 9]), [])

[1, 2, 3, 4, 5, 6, 7, 8, 9]