[Python 100제](https://paullabworkspace.notion.site/fe694f6d4d5543f3af4b6f1b5958160d)

# 1번

다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.

In [1]:
nums = [100, 200, 300, 400, 500]

In [3]:
# nums.pop()
# nums.pop()

# nums[:-2]

# nums.remove(400)
# nums.remove(500)

[100, 200, 300]

# 2번

```python
l = [200, 100, 300]
<pass>
print(l)
```
<pass>부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.

[출력]
```python
[200, 100, 10000, 300]
```

In [5]:
l = [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

# 6번

True / False에 대한 고찰

Python은 사용자(사람)의 입장에서 결과를 출력한다</br>
l 자체가 가리키는 메모리 주소는 변하지 않았지만, Boolean 값이 변한다</br>
-> Java script는 []의 Boolean 값은 True이다.

In [8]:
l = []
print(id(l))
print(bool(l))

4403615232
False

In [9]:
l.append(1)
print(l)
print(id(l))
print(bool(l))

[1]
4403615232
True

# 7번

변수명 _ 에 대해
1. 사용하지 않는 변수
2. 프라이빗한 변수
```python
class Human():
    self._age = 
```

# 8번

다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.
```python
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, )
print(hour, minute, second, )
```

```python
2019/04/26 11:34:27
```

In [10]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

# 10번

[입력]

5

[출력]
```python
    *
   ***
  *****
 *******
*********
```

In [15]:
n = 5

for i in range(1, n+1):
    print(' ' * (n-i), end='')
    print('*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

# 12번

다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

**주어진 소스 코드를 수정해선 안됩니다.**

```python
<여기에 class를 작성하세요.>

jik = Wizard(health = 545, mana = 210, armor = 10)
print(jik.health, jik.mana, jik.armor)
jik.attack()
```

[출력]

```python
545 210 10
파이어볼
```

In [16]:
class Wizard:
    def __init__(self, health, mana, armor):
        '''
        self는 인스턴스, 인스턴스 메모리 영역
        '''
        self.health = health
        self.mana = mana
        self.armor = armor

    def attack(self):
        print('파이어볼')


jik = Wizard(health = 545, mana = 210, armor = 10)
print(jik.health, jik.mana, jik.armor)
jik.attack()

545 210 10
파이어볼

# 35번

```python
def sub(x, y):
    return x - y

def add(x, y, f):
    def test(x):
        return x * 2
    test(x)
    return 'hello'

add(10, 20, sub)
```

함수가 다른 함수의 파라미터로 사용될 때, "콜백함수"라고 한다. (위 예시에서 sub)

```python
map(int, ['1', '2']) # int를 콜백함수라고도 부릅니다.
```

# 데코레이터

클래스의 self도 데코레이터와 연관이 있다?

Case 1:
```python
def simple_decorator(function):
    def wrapper():
        print("Before the function call")
        function()
        print("After the function call")
    return wrapper

@simple_decorator
def hello():
    print("Hello, World!")

hello() # 데코레이터가 없는 상태에서는 simple_decorator(hello)() 와 같습니다.
```

Case 2:
```python
def simple_decorator(function):
    def wrapper(l):
        print("Before the function call")
        print(function(map(int, l)))
        print("After the function call")
    return wrapper

@simple_decorator
def 합(l):
    return sum(l)

합([1, 2, 3, '4'])
```

Case 3: 인자를 갖는 데코레이터
```python
def debug(function):
    def new_function(*args):
        print(f'{function.__name__} 함수 시작')
        print(*args)
        result = function(*args)
        print(f'{function.__name__} 함수 끝')
        # return result # return 값이 있는 데코레이터는 바로 뒤에서 진행합니다.

    return new_function


@debug
def sum_1_to_n(n):
    return n * (n + 1) / 2


result = sum_1_to_n(30)

print(result)
```

Case 4: 중첩 데코레이터
```python
def decorator1(function):
    def new_function(*args, **kwargs):
        print('첫번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('첫번째 데코레이터 끝')
        return result

    return new_function


def decorator2(function):
    def new_function(*args, **kwargs):
        print('두번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('두번째 데코레이터 끝')
        return result

    return new_function


def decorator3(function):
    def new_function(*args, **kwargs):
        print('세번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('세번째 데코레이터 끝')
        return result

    return new_function

@decorator1
@decorator2
@decorator3
def sum_1_to_n(n):
    return n * (n + 1) / 2

result = sum_1_to_n(30)

print(f'result: {result}')
```

Case 5: 동적 데코레이터 -> 데코레이터가 인자를 갖는 형태
```python
def add(n):
    def decorator(function):
        def new_function(*args, **kwargs):
            result = function(*args, **kwargs)
            return result + n
        return new_function
    return decorator

@add(10)
def plus(a, b):
    return a + b

result = plus(10, 20)
print(f'result : {result}')
```

# 37번
* 문제 변경

In [23]:
# 1부터 10000까지 8이라는 숫자를 count하라!
# count를 할 수 있는 자료형으로 만드는 것이 핵심
# 순회를 돌면서 count는 위 답안이 잘 안풀렸을 때 대안 정도가 됩니다.
str(list(range(10000))).count('8')

4000

# 38번

```
점수입력 : 97 86 75 66 55 97 85 97 97 95
출력 : 6
```

In [45]:
import pandas as pd

input = '97 86 75 66 55 97 85 97 97 95'

scores = pd.Series(map(int, input.split(' ')))
sorted_scores = sorted(scores.rank(ascending=False, method='dense').astype(int).to_list())
sorted_scores.index(3) + 1

6

In [61]:
s = "97 86 75 66 55 97 85 97 97 95"

from collections import Counter
lst = sorted(list(map(int,s.split(" "))), reverse = True)
count = 0
for i in sorted(list(set(lst)), reverse = True)[:3]:
    count += Counter(lst)[i]
count

6

In [46]:
map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))

In [47]:
set(map(int, '97 86 75 66 55 97 85 97 97 95'.split(' ')))

{55, 66, 75, 85, 86, 95, 97}

In [48]:
sorted(set(map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))))

[55, 66, 75, 85, 86, 95, 97]

In [50]:
list(reversed(sorted(set(map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))))))[:3]

[97, 95, 86]

In [55]:
list(reversed(sorted(set(map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))))))[:3]

[97, 95, 86]

In [51]:
def solution(s):
    answer = 0
    splitdata = map(int, s.split(' '))
    for i in list(reversed(sorted(set(splitdata))))[:3]:
        answer += s.count(str(i))  # 문자를 count하기 때문에, 점수가 한 자리이거나, 100점이 있으면 오류가 생긴다
    return answer

solution('97 86 75 66 55 97 85 97 97 95')

6

In [ ]:
# map으로 된 데이터가 왜 한 번만 순회가 되었는지
# https://www.notion.so/paullabworkspace/python-zip-b7a1992be7884891a5f1d0a5c0c2df9c?pvs=4

def solution(s):
    answer = 0
    splitdata = map(int, s.split(' '))
    for i in list(reversed(sorted(set(splitdata))))[:3]:
        print(list(splitdata))
        for j in list(splitdata):
            if i == j:
                answer += 1
    return answer

solution('97 86 75 66 55 97 85 97 97 95')

# 39번
https://github.com/paullabkorea/Algorithm-walk-with-wenivs/blob/main/3.%20pyalgo%20%ED%92%80%EC%9D%B4/%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D.ipynb

```python
import re

re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})',
       r'\1__\2__\3',  # \1, \2, \3 은 group 1, 2, 3
       '010-5000-3000')
```

In [62]:
import re

def replace_letters(text):
    # 정규표현식 패턴 생성
    pattern = re.compile(r'[qb]')
    
    # 정규표현식에 맞게 변환
    modified_text = pattern.sub(lambda match: 'e' if match.group() == 'q' else 'n', text)
    
    return modified_text

sentence = "quick brown fox jumps over the lazy dog"
result = replace_letters(sentence)
print(result)

euick nrown fox jumps over the lazy dog

# 41번

True를 먼저 크기에 맞게 채워넣고, 어떤 조건을 만족하면 False로 변경하면서 소거

In [63]:
def prime_list(n):
    # 에라토스테네스의 체 초기화: n개 요소에 True 설정(소수로 간주)
    sieve = [True] * n

    # n의 최대 약수가 sqrt(n) 이하이므로 i=sqrt(n)까지 검사
    m = int(n ** 0.5)
    for i in range(2, m + 1):
        if sieve[i] == True:           # i가 소수인 경우
            for j in range(i+i, n, i): # i이후 i의 배수들을 False 판정
                sieve[j] = False

    # 소수 목록 산출
    return [i for i in range(2, n) if sieve[i] == True]

prime_list(1000)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

# 43번

In [64]:
# 음수 변환까지 하려면 좀 더 고려를 해야 합니다.
x = 11
s = ''
while x:
    print(x)
    s += str(x % 2)
    x //= 2
s[::-1]

#   2   | 11 ... 1
#        ---
#   2   |  5 ... 1
#        ---
#   2   |  2 ... 0
#        ---
#   2   |  1

11
5
2
1

'1011'

# 44번

In [65]:
%%timeit

n = 1234
answer = 0
for i in str(n):
    answer += int(i)

538 ns ± 114 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [70]:
%%timeit

n = 1234
sum(map(int, list(str(n))))

477 ns ± 22 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

# 48번

In [71]:
answer = ''
for i in 'AAABBBcccddd':
    if i.islower():
        answer += i.upper()
    else:
        answer += i.lower()
answer

'aaabbbCCCDDD'

# 53번

점검 필요

In [74]:
input = ['(())', '()()', '((()))']

def solution(p):
    if p.startswith('(') | p.endswith(')'):
        cnt = 0
        before = p[0]
        for i in p:
            if i == before:
                cnt+=1
                before = i
            else:
                break
        if (cnt == p.count(before)) & p.count(before) == p.count(')'):
            answer = True
        else:
            answer = False
    else:
        answer = False
        
    return answer

solution(input[2])

True

## stack 풀이

In [83]:
s = '(()())'

def solution(string):
    brackets = []
    if string.count('(') != string.count(')'):
        answer = 'NO'
    else:
        for i in string:
            if i == '(':
                brackets.append(i)
            if i == ')':
                if len(brackets) == 0:
                    answer = 'NO'
                brackets.pop()
        answer = 'YES'
    return answer

solution(s)

'YES'

# 54번

연속된 수인지 판별은 range 함수 사용 / for 순회를 하지 않아도 됨(cost 고려했을때)

In [95]:
def solution(string):

    # 내 풀이 (별로임)
    # s = sorted(map(int, string.split(' ')))
    
    # for i in range(len(s)-1):
    #     if s[i]+1 != s[i+1]:
    #         return 'NO'
    #         break
    # else:
    #     return 'YES'

    # 강사님 풀이
    s = sorted(map(int, string.split(' ')))
    if list(range(min(s), len(s)+1)) == sorted(s):
        answer = True
    else:
        answer = False
    
    return answer

# def solution(num):
#     num = num.split(' ')
#     num = list(map(int, sorted(num)))
#     for i in list(zip(num, num[1:])):
#         if i[1] - i[0] != 1:
#             return 'NO'
#     return 'YES'
    
solution('1 2 4 3 5')
# solution('1 4 2 6 3')

True

# 55번

나중에 다시 점검한다고 함

In [ ]:
# [[A, C], [A, B], [C, B], [A, C], [B, A], [B, C], [A, C]]
원판의이동경로 = []
def 하노이(원반의수, 시작기둥, 목표기둥, 보조기둥):
    # 원판이 한개일 때에는 옮기면 됩니다.
    if 원반의수 == 1:
        원판의이동경로.append([시작기둥, 목표기둥])
        return None
    # 원반의 n-1개를 경유기둥으로 옮기고
    하노이(원반의수-1, 시작기둥, 보조기둥, 목표기둥) # 여기가 문제였습니다.
    # 가장 큰 원반은 목표기둥으로
    원판의이동경로.append([시작기둥, 목표기둥])
    # 경유기둥과 시작기둥을 바꿉니다!
    하노이(원반의수-1, 보조기둥, 목표기둥, 시작기둥)

하노이(3,'A','C','B')

print(len(원판의이동경로))
원판의이동경로

# 56번

다음의 딕셔너리가 주어졌을 때 한국의 면적과 가장 비슷한 국가와 그 차이를 출력하세요.

```
데이터
nationWidth = {
     'korea': 220877,
     'Rusia': 17098242,
     'China': 9596961,
     'France': 543965,
     'Japan': 377915,
     'England': 242900 }

출력
England 22023
```

In [112]:
nationWidth = {
     'korea': 220877,
     'Rusia': 17098242,
     'China': 9596961,
     'France': 543965,
     'Japan': 377915,
     'England': 242900 }

kor = nationWidth.pop('korea')
min = float('inf')
for idx, val in nationWidth.items():
    if abs(kor - val) < min:
        answer = (idx, str(val))
        min = val
print(' '.join(answer))

England 242900

순회 없는 풀이

In [ ]:
nationWidth = {
     'korea': 220877,
     'Rusia': 17098242,
     'China': 9596961,
     'France': 543965,
     'Japan': 377915,
     'England': 242900 }

kor = nationWidth.pop('korea')

min([ for nation, width in nationWidth.items()])

In [ ]:
nationWidth = {
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900
}

def f(key):
    return [nationWidth[key] - 220877, key]

list(map(f, nationWidth))
min(map(f, nationWidth))

# 59번

In [118]:
print(f'{"hi":!<10}')
print(f'{"hi":!>10}')
print(f'{"hi":!^10}')
print(f'{"hio":!^10}')

hi!!!!!!!!
!!!!!!!!hi
!!!!hi!!!!
!!!hio!!!!

In [119]:
input = 'hi'
print(f'{input:=^50}')

========================hi========================

# 60번

In [121]:
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
for num, name in enumerate(sorted(student)):
    print(f'번호: {num+1}, 이름: {name}')

번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진

# 61번 -> 암기!

In [135]:
from collections import Counter
input = 'aaabbbbcdddd'
c = Counter(input)
s = sorted(c)
answer = [i+str(c[i]) for i in c]
''.join(answer)

'a3b4c1d4'

In [139]:
import re

# input = 'aaabbbbcdddd'
input = 'aaabbbbcddddaaabbbbcdddd'

answer = ''
for i in re.findall('(\\w)(\\1*)', input):
    answer += i[0]+str(len(i[1])+1)
answer

'a3b4c1d4a3b4c1d4'

# 65번

In [145]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']

list(map(lambda x: list(x[::-1]) if x[0]%2==0 else list(x), zip(a, b)))

[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

# 66번

```탑을 쌓기 위해 각 크기별로 준비된 블럭들을 정해진 순서에 맞게 쌓아햐 합니다.
순서에 맞게 쌓지 않으면 무너질 수 있습니다.
예를 들면 정해진 순서가 BAC 라면 A 다음 C가 쌓아져야 합니다.
선행으로 쌓아야 하는 블럭이 만족된 경우라면 탑이 무너지지 않습니다.

- B를 쌓지 않아도 A와 C를 쌓을 수 있습니다.
- B 다음 블럭이 C가 될 수 있습니다.

쌓아져 있는 블럭 탑이 순서에 맞게 쌓아져 있는지 확인하세요.

1. 블럭은 알파벳 대문자로 표기합니다.
2. 규칙에 없는 블럭이 사용될 수 있습니다.
3. 중복된 블럭은 존재하지 않습니다.

입력
탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
규칙 = "ABD"

출력
["가능", "불가능", "가능", "가능"]
```

In [164]:
input = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG", ""]
rule = "ABD"

result = list(map(lambda x: [x.find(r) for r in rule if x.find(r) != -1], input))
# list(map(lambda x: '가능' if all(x[i] < x[i+1] for i in range(len(x)-1)) else '불가능', result))
list(map(lambda x: '가능' if x == sorted(x) else '불가능', result))

# 예외
## 'A'가 중복해서 나오는 경우 -> 규칙에서 허용하지 않음
## 아무런 문자열을 찾지 못하는 경우 -> 가능이 출력됨

['가능', '불가능', '가능', '가능', '가능']

In [ ]:
def solution(string, rule):
    for s in string:
        temp = 0
        for i in s: #i:'D', s:"ABCDEF"
            if i in rule:
                if temp > rule.index(i): # rule.index(i): 문자가 rule에 있다면 몇 번째에 있는지(1 > 3)
                    return '불가능'
                temp = rule.index(i)

# 67번 -> 수학문제 / 다시 풀이

In [167]:
from itertools import combinations

n = 4
nums = range(n)
combi = list(combinations(nums, 2))
len(combi)

6

# 68번

In [ ]:
1. 데이터

graph = {'E': set(['D', 'A']),
         'F': set(['D']),
         'A': set(['E', 'C', 'B']),
         'B': set(['A']),
         'C': set(['A']),
         'D': set(['E','F'])}

2. 출력
['E', 'A', 'B', 'C', 'D', 'F']

3. 코드

graph = {
        'A': set(['B', 'C', 'E']),
        'B': set(['A']),
        'C': set(['A']),
        'D': set(['E', 'F']),
        'E': set(['A', 'D']),
        'F': set(['D'])
}

def dfs(graph, start):
    visited = []
    stack = [start]

    while stack:
        n = stack.pop()
        if n not in visited:
            visited.append(n)
            pass
    return visited

print(dfs(graph, 'E'))

In [180]:
graph = {'E': set(['D', 'A']),
         'F': set(['D']),
         'A': set(['E', 'C', 'B']),
         'B': set(['A']),
         'C': set(['A']),
         'D': set(['E','F'])}

start = 'E'
visited = []
stack = [start]

while stack:
    n = stack.pop()
    if n not in visited:
        visited.append(n)
        # 오른쪽
        # stack.extend(graph[n])
        # stack += graph[n] - set(visited) # 방문했던 경로를 다시 방문하지 않도록
        # 왼쪽
        stack.extend(reversed(list(graph[n])))
        
visited

['E', 'D', 'F', 'A', 'B', 'C']

# 76번

In [187]:
region = 5
search = 3

target = [[1, 0, 0, 1, 0],
          [0, 1, 0, 0, 1],
          [0, 0, 0, 1, 0],
          [0, 0, 0, 0, 0],
          [0, 0, 1, 0, 0]]

import pandas as pd

target = pd.DataFrame(target)
max_bomb = -float('inf')

for h in range(region - search + 1):
    for v in range(region - search + 1):
        bomb = target.iloc[v:v+search, h:h+search].sum().sum()
        if bomb > max_bomb:
            max_bomb = bomb

max_bomb

3

In [188]:
import numpy as np

arr = np.array(target)
max_bomb = -float('inf')

for h in range(region - search + 1):
    for v in range(region - search + 1):
        bomb = arr[v:v+search, h:h+search].sum()
        if bomb > max_bomb:
            max_bomb = bomb
max_bomb

3

In [189]:
# 라이브러리 없이 배열 flatten 하는 방법

answer = [[1, 0, 0],
          [0, 1, 0],
          [0, 0, 0]]

# sum(answer) # error
sum(answer, [])
sum(sum(answer, []))

2

# 78번

In [213]:
n = 6
k = 3

def solution(n, k):
    k = k-1
    start = 0
    
    foods = list(range(1, n+1))
    
    while len(foods) > 2:
        print(f'먹은 음식: {foods[start]}')
        foods.pop(start)
        print(f'남은 음식: {foods}')
        
        if start+k >= len(foods):
            start = (start+k)-len(foods)
        else:
            start += k
    return foods

solution(6, 3)

먹은 음식: 1
남은 음식: [2, 3, 4, 5, 6]
먹은 음식: 4
남은 음식: [2, 3, 5, 6]
먹은 음식: 2
남은 음식: [3, 5, 6]
먹은 음식: 6
남은 음식: [3, 5]

[3, 5]

In [212]:
from collections import deque

n = 6
k = 3

def solution(n, k):
    k -= 1
    foods = list(range(1, n+1))
    food_r = deque(foods)
    
    while len(food_r) > k:
        # food_r.popleft()
        print(f'먹은 음식: {food_r.popleft()}')
        print(f'남은 음식 회전 전: {food_r}')
        food_r.rotate(-k)
        print(f'남은 음식 회전 후: {food_r}')
    return food_r

solution(6, 3)

먹은 음식: 1
남은 음식 회전 전: deque([2, 3, 4, 5, 6])
남은 음식 회전 후: deque([4, 5, 6, 2, 3])
먹은 음식: 4
남은 음식 회전 전: deque([5, 6, 2, 3])
남은 음식 회전 후: deque([2, 3, 5, 6])
먹은 음식: 2
남은 음식 회전 전: deque([3, 5, 6])
남은 음식 회전 후: deque([6, 3, 5])
먹은 음식: 6
남은 음식 회전 전: deque([3, 5])
남은 음식 회전 후: deque([3, 5])

deque([3, 5])

# 81번

In [255]:
matrix = [
    [0, 1, 0, 0, 0],
    [0, 0, 0, 0, 0],
    [0, 0, 0, 1, 0],
    [0, 0, 1, 0, 0],
    [0, 0, 0, 0, 0]
]

import numpy as np

matrix_arr = np.array(matrix)
matrix_arr = np.where(matrix_arr==1, 'f', matrix_arr)

for v, h in zip(np.where(matrix_arr=='f')[0], np.where(matrix_arr=='f')[1]):
    
    if v != 0:
        matrix_arr[v-1, h] = '*'
    if h != 0:
        matrix_arr[v, h-1] = '*'
    if v+1 < matrix_arr.shape[0]:
        matrix_arr[v+1, h] = '*'
    if h+1 < matrix_arr.shape[1]:
        matrix_arr[v, h+1] = '*'
        
print(matrix_arr)

[['*' 'f' '*' '0' '0']
 ['0' '*' '0' '*' '0']
 ['0' '0' '*' 'f' '*']
 ['0' '*' 'f' '*' '0']
 ['0' '0' '*' '0' '0']]

# 84번

In [320]:
def solution(number, k):
    from itertools import permutations
    import numpy as np

    number_list = list(map(lambda x: int(''.join(x)), permutations(str(number), k)))
    answer = np.max(number_list)
    
    return answer

In [321]:
solution(17236, 5)

76321

In [326]:
def solution(number, k):
    l = [i for i in str(number)]
    return int(max([''.join(i) for i in list(permutations(l, k))]))

In [ ]:
solution(17236, 5)

In [324]:
# number = int(input('숫자 입력: '))
# k = int(input('k값 입력: '))
number = 17236
k = 3

number_str = str(number)
number_str = sorted(number_str, reverse=True)
large_number = int(''.join(number_str[:k]))

print(large_number)

763

# 85번

In [317]:
from collections import Counter

counter = Counter('132231')

answer = ''
for i, j in sorted(counter.items()):
    answer += i+str(j)

answer

'122232'

In [334]:
from collections import Counter

n = 6
answer = '1'

for i in range(n):
    counter = Counter(answer)

    answer = ''.join([num+str(freq) for num, freq in sorted(counter.items())])
    print(answer)

11
12
1121
1321
122131
132231

In [333]:
def evalue(value):
    return ''.join([str(i) + str(value.count(str(i))) for i in range(1, int(max(value)) + 1)])

def solution(n):
    answer = '1'
    if n == 1:
        return 1
    else:
        for i in range(1, n):
            answer = evalue(answer)
            print(answer)
    return answer

# evalue('1121')
solution(6)

TypeError: 'numpy.int64' object is not callable

# 86번

In [372]:
def solution(point, dish):
    cnt = 0
    dish -= 1
    
    while True:
        
        if point[0] == np.min(point):
            if dish == 0:
                break
            else:
                point.pop(0)
        else:
            point.append(point.pop(0))
        
        cnt += 1
        
        if dish == 0:
            dish = len(point)-1
        else:
            dish -= 1
        # dish = len(point) - 1 if dish == 0 else dish - 1
            
    return cnt

In [375]:
solution([1,1,3,2,5], 3)

5

In [373]:
solution([1,1,3,2,3,5], 3)

6

In [374]:
solution([5,2,3,1,2,5], 1)

10

# 90번

In [393]:
import random

random.seed(2023)

input_medicine = ('ABCDEFGH', 4)
medicine = []

l = [chr(i) for i in range(65, 91)]

total_medicine = []
for i in range(100):
    total_medicine.append(random.sample(l, 8))

for m in total_medicine:
    if len(set(input_medicine[0]) & set(m)) == input_medicine[1]:
        medicine.append(m)

medicine

[['C', 'Z', 'E', 'M', 'P', 'U', 'G', 'F'],
 ['H', 'Q', 'G', 'L', 'J', 'E', 'F', 'R'],
 ['C', 'Z', 'H', 'E', 'T', 'X', 'D', 'R'],
 ['D', 'B', 'F', 'V', 'R', 'S', 'G', 'I'],
 ['O', 'D', 'C', 'F', 'X', 'U', 'B', 'I'],
 ['E', 'P', 'H', 'U', 'G', 'B', 'Y', 'J'],
 ['H', 'Z', 'G', 'B', 'X', 'W', 'D', 'K'],
 ['B', 'D', 'V', 'P', 'O', 'F', 'C', 'M'],
 ['M', 'E', 'O', 'T', 'V', 'D', 'A', 'G'],
 ['E', 'D', 'K', 'C', 'Q', 'H', 'T', 'R'],
 ['A', 'T', 'Y', 'E', 'B', 'G', 'R', 'P'],
 ['F', 'L', 'S', 'I', 'C', 'G', 'B', 'M'],
 ['O', 'K', 'Z', 'D', 'G', 'E', 'F', 'N']]

# 92번

In [406]:
test = [['이과장', '3,012,000', 'S은행', '100-0000-0000-000'],
        ['이과장', '333,356,766', 'S은행', '100-0000-0000-000'],
        ['이과장', '5,000,000', 'S은행', '100-0000-0000-000'],
        ['이과장', '3,200,000', 'S은행', '100-0000-0000-000'],
        ['이과장', '3,300,000', 'S은행', '100-0000-0000-000'],
        ['이과장', '5,300,000', 'S은행', '100-0000-0000-000']]

for record in test:
    salary = record[1].replace(',', '')
    salary_2 = salary.replace('3', '2').replace('4', '2').replace('6', '5')
    
    if salary != salary_2:
        record.insert(2, format(int(salary) - int(salary_2), ','))
        record[1] = format(int(salary_2), ',')

test

[['이과장', '2,012,000', '1,000,000', 'S은행', '100-0000-0000-000'],
 ['이과장', '222,255,755', '111,101,011', 'S은행', '100-0000-0000-000'],
 ['이과장', '5,000,000', 'S은행', '100-0000-0000-000'],
 ['이과장', '2,200,000', '1,000,000', 'S은행', '100-0000-0000-000'],
 ['이과장', '2,200,000', '1,100,000', 'S은행', '100-0000-0000-000'],
 ['이과장', '5,200,000', '100,000', 'S은행', '100-0000-0000-000']]

# 93번

In [419]:
def solution(case, memory):

    hit = 1
    miss = 6
    pages = []
    run_time = 0
    
    for i in case:
        if i in pages:
            run_time += hit
        else:
            pages.append(i)
            run_time += miss
            if len(pages) > memory:
                pages.pop(0)
                
    return run_time

In [420]:
test_case = [('BCBAEBCE', 3), ('ABCABCABC', 3), ('ABCDABEABCDE', 4), ('ABCEDF', 0), ('ABCDABEA', 3)]

for case, memory in test_case:
    solution(case, memory)

['B'] 6
['B', 'C'] 12
['B', 'C'] 13
['B', 'C', 'A'] 19
['C', 'A', 'E'] 25
['A', 'E', 'B'] 31
['E', 'B', 'C'] 37
['E', 'B', 'C'] 38
38
['A'] 6
['A', 'B'] 12
['A', 'B', 'C'] 18
['A', 'B', 'C'] 19
['A', 'B', 'C'] 20
['A', 'B', 'C'] 21
['A', 'B', 'C'] 22
['A', 'B', 'C'] 23
['A', 'B', 'C'] 24
24
['A'] 6
['A', 'B'] 12
['A', 'B', 'C'] 18
['A', 'B', 'C', 'D'] 24
['A', 'B', 'C', 'D'] 25
['A', 'B', 'C', 'D'] 26
['B', 'C', 'D', 'E'] 32
['C', 'D', 'E', 'A'] 38
['D', 'E', 'A', 'B'] 44
['E', 'A', 'B', 'C'] 50
['A', 'B', 'C', 'D'] 56
['B', 'C', 'D', 'E'] 62
62
[] 6
[] 12
[] 18
[] 24
[] 30
[] 36
36
['A'] 6
['A', 'B'] 12
['A', 'B', 'C'] 18
['B', 'C', 'D'] 24
['C', 'D', 'A'] 30
['D', 'A', 'B'] 36
['A', 'B', 'E'] 42
['A', 'B', 'E'] 43
43

# 97번

In [438]:
p = 3
times = [1, 2, 1, 3, 3, 3]

def solution(p, times):
    total_time = 0
    delivery = [times.pop(0) for _ in range(p)]
    # print(delivery, times)
    
    while True:
        delivery = list(map(lambda x: x-1 if x!=0 else x, delivery))
        total_time += 1
        # print(delivery, times)
        delivery = [times.pop(0) if (i==0) & (len(times)!=0) else i for i in delivery]
        # print(delivery, times)
        if (len(times)==0) & (sum(delivery)==0):
            break
    return total_time
print(solution(p, times))

5